VITE_API_BASE_URL=https://ruin13-dragonfruit.hf.space
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDip-Z-NmJCI3h8wMbhMlmA2yBrhABOaKI
VITE_FIREBASE_AUTH_DOMAIN=dragonfruit-22c22.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dragonfruit-22c22
VITE_FIREBASE_STORAGE_BUCKET=dragonfruit-22c22.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=9746181244
VITE_FIREBASE_APP_ID=1:9746181244:web:d5b80f3d44a932bebf2df9
VITE_FIREBASE_MEASUREMENT_ID=G-09H8LEFKWC
